<!DOCTYPE html>
<html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}


    <body>
	
        {% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
		<h1>Rango says... hello world!</h1>
		{% endif %}

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
	   
	   <h1 style="color: pink">Top 5 Most Viewed Pages!</h1>	
			<ol>	   
			{% for page in top5pages %}
			<li> <a href="{{page.url}}">{{page.title}}</a></li>
			{% endfor %}
			</ol>
    </body>
	{%endblock%}
</html>